<header>
     <div class="topnav">
        <div class="left-items">
            <img class="navlogo" src="/images/LethalTempo.png" alt="Lethal Tempo Logo">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/about">About</a>
        </div>

        <div class="middle-items">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Search for a track" class="search-input">
                <select name="type" class="search-select">
                    <option value="track">Track</option>
                    <option value="show">Show</option>
                  </select>
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>

        <div class="right-items">
            <a class="logout" href="/logout">Logout</a>
            <% if (typeof user !== 'undefined' && user.images && user.images.length > 0) { %>
                <a href="/me">
                    <img class="user-thumbnail" src="<%= user.images[0].url %>" alt="User Thumbnail">
                </a>
            <% } else { %>
                <a href="/me">
                    <img class="user-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt="User Thumbnail">
                </a>
            <% } %> 
            
        </div>
     </div>
</header>
    