<header>
     <div class="topnav">
        <div class="left-items">
            <img class="navlogo" src="/images/LethalTempo.png" alt="Lethal Tempo Logo">
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="#contact">Contact</a>
            <a class="nav-link" href="#about">About</a>
        </div>
        <a class="logout" href="/logout">Logout</a>
        </div>
</header>
    