<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Top Tracks</title>
</head>
<body> -->
<!----> 
<header>
     <div class="topnav">
        <img class="navlogo" src="/images/LethalTempo.png" alt="Lethal Tempo Logo">
        <a class="active nav-link" href="#home">Home</a>
        <a class="nav-link" href="#contact">Contact</a>
        <a class="nav-link" href="#about">About</a>
        <a class="logout" href="/">Logout</a>
        </div>
</header>
    