<div class="nav-buttons">
    <a class="nav-btn" href='/top-tracks'>Top Tracks</a>
    <a class="nav-btn" href='/login'>Top Podcasts</a>
    <a class="nav-btn" href='/login'>Rated Tracks</a>
    <a class="nav-btn" href='/login'>Rated Podcasts</a>
    <a class="nav-btn" href='/login'>Friends</a>    
</div>