<div class="nav-buttons">
    <a class="nav-btn" href='/top-tracks'>Top Tracks</a>
    <a class="nav-btn" href='/top-podcasts'>Saved Shows</a>
    <a class="nav-btn" href='/rated-tracks'>Rated Tracks</a>
    <a class="nav-btn" href='/rated-shows'>Rated Shows</a>
    <a class="nav-btn" href='/login'>Friends</a>    
</div>