<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    

    <div class="container">
        <div class="login-header">
            <h1 class="login-title">Lethal Tempo</h1>
            <p class="login-subtext">Sign in Using Spotify Login Credentials</p>
        </div>
        
        <img src="/images/LethalTempo.png" alt="Lethal Tempo Logo" class="logo">

        <%# Link that sends the user to the login thing for spotify %>
        <a class="login-btn" href='/login'>Login</a>
    </div>

    
</body>
</html>