<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Lethal Tempo</title>
</head>
<body>
    <% if (messages.errorMessages) { %>
        <script>
          setTimeout(function() {
            const element = document.getElementById('flash-message');
            if (element) {
              element.style.display = 'none';
            }
          }, 5000); // 5 seconds
        </script>
        <div class="alert alert-error" id="flash-message">
          <%= messages.errorMessages %>
        </div>
      <% } %>
    

    <div class="container">
        <div class="login-header">
            <h1 class="login-title">Lethal Tempo</h1>
            <p class="login-subtext">Sign in Using Spotify Login Credentials</p>
        </div>
        
        <img src="/images/LethalTempo.png" alt="Lethal Tempo Logo" class="logo">

        <%# Link that sends the user to the login thing for spotify %>
        <a class="login-btn" href='/login'>Login</a>
    </div>

    
</body>
</html>