/********** Top Nav Bar **********/

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--spotify-green);
  overflow: hidden;
  height: 80px;
}

/* Style the links inside the navigation bar */
.left-items > a {
  float: left;
  color:black;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 31.5px;
  padding-bottom: 31.5px;
  width: auto;
  transition: var(--transition);
}

/* Change the color of links on hover */
.left-items a:hover {
  background-color: var(--container-gray);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--container-gray);
  color: black;
}

.navlogo {
  height: 80px;
  width: auto;
  float: left;
}

.logout{
  margin-right: 25px;
  color:white;
  float: right;
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  transition: var(--transition);
}

.logout:hover {
  box-shadow: 0px 0px 10px 2px black;
  border-color: black;
  background-color: white;
  color: black;
}

/* moves the logout button to the middle of the nav bar */
.right-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-thumbnail {
  margin-right: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--spotify-green);
  transition: var(--transition);
}

.user-thumbnail:hover {
  box-shadow: 0px 0px 10px 2px black;
  border-color: black;
}


/********** Middle nav bar **********/
.nav-btn {
  display: inline-block;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  height: 50px;
  color: white;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border:1px solid var(--spotify-green);
  border-radius: 20px;
  background-color: var(--spotify-green);
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  transition: var(--transition);
}

.body-container > .nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
}

.nav-btn:hover {
  box-shadow: 0px 0px 10px 2px black;
  border-color: black;
  color: black;
}