  /********** Top Tracks Page **********/


.topTracksList{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.topTracks-title {
    font-family: DM Sans, sans-serif;
    text-align: left;
}

.track-card {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 5px 10px 10px;
    /*background-color: var(--spotify-green); */
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}

li.track-card:hover {
    border-color: var(--spotify-green);
    box-shadow: 0px 0px 10px 2px var(--spotify-green);
}

.album-cover {
    width: 25%;
}

.album-cover img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.track-info {
    margin-left: 20px;
    width: 75%;
}

.track-title {
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
}

.artist-name {
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
}

.track-stats-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.track-stat {
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.topTracksList {
    display: flex;
    justify-content: space-between;
}

.list1 {
    width: 30%;
}

.list2 {
    width: 35%;
}

/* For track.ejs */
.track-big {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    width: 80%;
}

.track-cover-big {
    flex: 1;
}

.track-cover-big img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.track-info-big {
    font-family: DM Sans, sans-serif;
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.track-title-big {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 0px;
}

.artist-name-big {
    font-size: 1.5em;
    margin-top: 0px;
}

.post {
    font-optical-sizing: auto;
  }

.material-symbols-outlined {
    cursor: pointer;
    font-optical-sizing: auto;
    margin-right: 6px;
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.post-rating-count {
    margin-right: 50px;
}

.post-ratings-container {
    display: flex;
    justify-content: end;
    padding: 12px 0;
    margin-right: 620px;
}

.post-selected > .material-symbols-outlined,
.post-selected > .post-rating-count { 
    font-variation-settings:
        'FILL' 1
}

.post:not(.post-selected) > .material-symbols-outlined:hover {
    color: #000000
}

#comment {
    background-color: #3d3d3d;
    color: #FFFFFF;
    font-family: DM Sans, sans-serif;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;
}

#comment::placeholder {
    color: #FFFFFF;
    font-family: DM, sans-serif;
    font-variation-settings:
        'FILL' 1;
    opacity: 0.5;
  }

.commentBut {
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-size: 30px;
    align-items: right;
    border-width: thin;
    float: right;
    margin-top: 20px;
}

.comments-list {
    display: flex;
    width: 80%;
    float: left;
    flex-direction: column;
    
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment > p {
    font-family: DM, sans-serif;
    font-size: 30px;
}

.DeleteBut {
    border: none;
    background-color: transparent;
    color: red;
    border-color: #FFFFFF;
    font-size: 15px;
    align-items: left;
}