<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs')%>

        <div class="contact" style="background-color: black; color: white">
            <div class="bdy-container">
                <div class="title">
                    <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
                </div>
                <div class="body-container">
                    <%- include('../partials/nav.ejs') %>
                </div>
                <h2>About Page</h2>
                <div class="about">
                    <p>
                        Info about the about page here sdfj asf d kfdsfafjd
                        ds fds fasdfsfdas fddffdas
                    </p>
                </div>
            </div>
        </div>