<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs')%>

        <div class="contact" style="background-color: black; color: white">
            <div class="bdy-container">
                <div class="title">
                    <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
                </div>
                <div class="body-container">
                    <%- include('../partials/nav.ejs') %>
                    <h2 style="display: flex; justify-content: center;">About Us</h2>
                    <div class="about">
                        
                        <p>
                            Lethal Tempo is an innovative web application designed to enhance the music streaming experience through 
                            seamless integration with the Spotify API. Our project revolves around creating a personalized space for 
                            users to explore and interact with their favorite music content effortlessly. With Lethal Tempo, 
                            users can not only access their top tracks, playlists, and podcasts but also discover new and trending content tailored to their preferences. 
                            The application focuses on providing a user-friendly interface for greater enjoyment in discovering music. 
                            Whether users want to create their playlists, explore new music, or rediscover old favorites, 
                            Lethal Tempo empowers them to navigate the vast world of Spotify with ease. Through thoughtful design and functionality, 
                            our project aims to elevate the enjoyment of music and offer a unique, personalized platform for users to connect with their favorite tunes.
                        </p>
                    </div>
                </div>
            </div>
        </div>