<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs')%>

        <div class="contact" style="background-color: black; color: white">
            <div class="bdy-container">
                <div class="title">
                    <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
                </div>
                <div class="body-container">
                    <%- include('../partials/nav.ejs') %>
                        <div class="row">
                            <div class="info">
                                <h1>Cesar Guzman</h1>
                                <p>Email: CGuzman@uncc.edu</p>
                                <p>Phone Number: 704-555-8923</p>
                            </div>
                            <div class="info">
                                <h1>Jeffery Harm</h1>
                                <p>Email: Jharm@uncc.edu</p>
                                <p>Phone Number: 336-903-2930</p>
                            </div>
                            <div class="info">
                                <h1>Kush Bhuva</h1>
                                <p>Email: KBhuva@uncc.edu</p>
                                <p>Phone Number: 336-903-2930</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info">
                                <h1>Nima Haqshenas</h1>
                                <p>Email: nhaqshen@uncc.edu</p>
                                <p>Phone Number: 336-999-6129</p>
                            </div>
                            <div class="info">
                                <h1>Tom Sakowski</h1>
                                <p>Email: TSakowsk@uncc.edu</p>
                                <p>Phone Number: 336-903-2930</p>
                            </div>
                            <div class="info">
                                <h1>Trenton Finley</h1>
                                <p>Email: TFinley@uncc.edu</p>
                                <p>Phone Number: 336-903-2930</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>